body {
    background-image: url(imagens/fundpo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    margin: 0; 
    padding: 0; 
}


header {
    background-color: #c7721d; 
    padding: 10px; 
    display: flex; 
    justify-content: center; 
}

header ul.menu {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    text-align: center; 
}

header ul.menu li {
    display: inline; /* Exibindo os itens da lista em linha */
    margin-right: 150px; /* Adicionando margem direita entre os itens */
}

header ul.menu li a {
    color: white; /* Cor do texto branco */
    text-decoration: none; /* Removendo sublinhado dos links */
    font-size: 29px; /* Tamanho da fonte em pixels */
    font-weight: bold; /* Texto em negrito */
}

.menu-direito {
    position: fixed; /* Posicionamento fixo */
    top: 55%; /* Posicionamento vertical no meio da tela */
    right: 15%; /* Distância da direita */
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com transparência */
    padding: 15px 60px; /* Adicionando preenchimento para espaçamento interno, ajuste os valores de acordo com sua preferência */
    border-radius: 40px; /* Adicionando borda arredondada */
    color: white; /* Cor do texto branco */
    transform: translate(0, -50%); /* Ajustando para centralizar verticalmente */
    text-align: center; /* Alinhando o conteúdo no centro */
    background-size: 100% 100%; /* Ajustando manualmente o tamanho do background-color */
}


.menu-direito p {
    font-weight: bold; /* Texto em negrito */
    font-size: 24px; /* Tamanho da fonte em pixels */
}

.menu-direito span {
    display: block; /* Quebra de linha */
}

.menu-direito button {
    display: block; /* Transformando os botões em blocos */
    margin: 10px auto; /* Margem automática nas laterais e 10px na parte superior e inferior */
    width: 180px; /* Largura fixa */
    padding: 9px; /* Adicionando preenchimento interno */
    background-color: #ff7300; /* Cor de fundo laranja */
    border: none; /* Removendo borda */
    color: white; /* Cor do texto branco */
    font-size: 25px; /* Tamanho da fonte em pixels */
    cursor: pointer; /* Alterando o cursor para indicar que é clicável */
    border-radius: 60px; /* Adicionando borda arredondada */
    font-weight: bold;
}

.menu-direito button:hover {
    background-color: #ff7f00; /* Cor de fundo laranja mais escura quando hover */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Cor de fundo com transparência */
    display: none;
    z-index: 999; /* Garante que a caixa de texto esteja acima de todos os outros elementos */
}

.overlay-content p {
    font-size: 25px;
    text-align: center;
    
}

.button-like {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c7721d;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.button-like:hover {
    background-color: #ff7f00;
}

.overlay-content {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 40px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 100%; 
    height: auto; 
    max-width: 80%; 
    max-height: 80%;
    overflow-y: auto;
}


.fundo img {
    margin-left: 50px; 
}



#overlay-text {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.participant {
    flex-basis: calc(20% - 20px); 
    margin-bottom: 20px;
    text-align: center;
}

.participant img {
    width: 215px;
    margin-bottom: 2px; 
}

.participant p {
    font-size: 18px;
    margin: 10;
}


