<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="url_for('static', filename='cadastro_prof.css') }}">
    <title>MFIT-PERSONAL</title>

</head>
<body>
    <div class="registro">
        <h2>Registre-se</h2>
        <form>
            <label for="username">Nome Completo:</label>
            <input type="text" id="username" name="username" required>
    
            <label for="username">Email:</label>
            <input type="email" id="email" name="email" required> <br><br>
    
            <label for="username">CREF:</label>
            <input type="number" id="cref" name="cref" required>
    
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
    
            <label for="password"> Confirmar Senha:</label>
            <input type="password" id="confirm_senha" name="confirm_senha" required>
            <br><br>
    
            <a href="login.html" target="_blank"><button class="botao" type="submit">Confirmar</button></a>
        </form>
        </div>
    
</body>
</html>