<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <title>MFIT-PERSONAL</title>
    </head>
<body>
    <div class="container">
        <div class="login-aluno">
            <h2>Aluno</h2>
            <form action="/menu_aluno" method="post">
                <label for="email-aluno">Usuário:</label>
                <input type="email" id="email-aluno" name="email" required>
                <label for="password-aluno">Senha:</label>
                <input type="password" id="password-aluno" name="password" required>
                <button onclick="window.open('{{ url_for('menu_aluno') }}')">Entrar</button>
            </form>
        </div>

        <div class="login-personal">
            <h2>Personal</h2>
            <form action="/MenuProfHTML" method="post">
                <label for="email-personal">Usuário:</label>
                <input type="email" id="email-personal" name="email" required>
                <label for="password-personal">Senha:</label>
                <input type="password" id="password-personal" name="password" required>
                  <button onclick="window.open('{{ url_for('menuProfHTML') }}', '_blank')">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>
