<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='/menuAluno.css') }}">

        <title>Menu de Escolha</title>
    </head>
<body>
    <header>

        <!-- <h1>Menu de Escolha</h1> -->
        <div class="menu"> 
            <ul>
                <li><a href="#treino_aluno">Treino</a></li>
                <li><a href="#objetivos_aluno">Objetivo</a></li>
                <li><a href="#fatura_aluno">Fatura</a></li>

            </ul>
        </div>


        <!-- Treino do Aluno -->
        <div id="treino_aluno" class="hidden">
        <h2>Treino do Aluno</h2>
        <p>Treino 1 - Quadríceps</p>
        <ul>
            <li>Cadeira Extensora 4x12</li>
            <li>Agachamento 5x10</li>
            <li>Leg Press 45° 4x8</li>
        </ul>
    </div>

    <!-- Objetivo do Aluno -->
    <div id="objetivos_aluno" class="hidden">
        <h3>Objetivo</h3>
        <ul>
            <li>Hipertrofia:</li> 
            <li>O aluno deseja ganhar massa muscular, 
                para ter o aumento do tamanho e do volume dos músculos. 
                Para isso, deve ter um treino mais focado na hipertrofia muscular.</li>
            </ul>
        </div>


        <!-- Fatura -->
        <div id="fatura_aluno" class="hidden">
            <h4>Fatura</h4>
            <ul>
                <li>Seu professor ainda não lançou nenhum plano ou fatura.</li>
    </ul>
    </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

</header>
</body>
</html>